.page{
    display: flex;
    gap:4%;
    margin-left: 3cm;
 }
 .collections{
   display: flex;
   gap: 20%;
   margin-top: 2cm;
 }
 .shadow{
   position: absolute;
   overflow: hidden;
   width: 35%;
   height: 10%;
   background-color: black;
   transform: rotate(-20deg);
   top: -1%;
   right: -5%;
   border-radius: 15%;

 }
 @font-face{
   font-family: Carra;
   src: url(MacondoSwashCaps-Regular.ttf)
 }
 .caraa{
   font-family: Carra;
   margin-top: 0.4cm;
 }
 .body{
    margin: auto;
    width: 80%;
    background-color: white;
   margin-left: 6cm;
   margin-top: 5cm;
   margin-right: 6cm;
   position: relative;
   object-fit: contain;
   overflow: hidden;

 }
 
 
 .home{
    display: flex;
    margin-top: 5px;
    width: 50%;
    z-index: 1;
    position: relative;
    

 
 }
 .play{
   display: flex;
   margin-top: 1cm;
   
 }
 .icon{
   margin-left: 1cm;
   margin-top: 0.6cm;
   border: 3px;
   border-radius: 3px 3px 3px 3px;
   cursor: pointer;
 }
 .video{
   margin-left: 0.5cm;
   margin-top: 0.2cm;
 }
 #home{
   border:  black dotted;
   width: 5px;

   
 }
 
 
 
 .elevate{
    /* margin: auto; */
    width: 50%;
    margin-left: 3cm;
    
    
 }
 
 
 #shop-now{
    background-color: gray;
    color: white;
    padding: 25px 25px 25px 25px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
 
 
 }
 .decors{
    background-color: rgb(158, 153, 153);
    width: 30%;
    margin-top: 3cm;
    margin-left: 3cm;
    height: 50%;
 }
 
 
 .types{
    display: flex;
    gap: 12%;
    margin-top: 3cm;
    margin-left: 3cm;
    
 }
 

 #button{
    background-color: white;
    color: black;
    padding: 25px 25px 25px 25px;
    border-radius: 40px;
    border: solid 1px black;
    cursor: pointer;
 }
 .p{
   margin-left: 3cm;
   margin-top: 2cm;
 }
 
 .categories{
    display: flex;
    gap: 7%;
    margin-top: 2cm;
    margin-left: 3cm;
    
 }
 .earth-vase{
    width: 15.6%;
    height: 12%;
    border-radius: 30px;


    

 }
 .vase-nordic{
    width: 15.6%;
    height: 12%;
    
    
    

 }
 .first-ceramic-vase{
    width: 15.6%;
    height: 12%;

 }
 .second-ceramic-vase{
    width: 15.6%;
    height: 12%;
    


 }
 
 .home-decor{
    display: flex;
    margin-top: 3cm;
 }
 .restyle{
    text-align: center;
    margin-top: 3cm;
 }
 .offer{
   text-align: center;
   margin-top: 3cm;
 }
 .reviews{
   text-align: center;
   margin-top: 3cm;

 }
 .trendy-home-decor{
   margin-left: 6cm;

 }
 .transform{
   margin-left: 6cm;

 }
 .decor-ideas{
    display:flex;
    margin-top: 5cm;
 }
 .promotion{
   margin-left: 6cm;
 }
 .stylish-pieces{
   margin-left: 6cm;
 }
 
.shop{
    display: flex;
    gap: 8%;
    margin-top: 3cm;
    margin-left: 4cm;
}


.appearance{
   display: flex;
   margin-top: 3cm;
}
.distinctive{
   margin-left: 6cm;
}
.image{
   margin-left: 6cm;
}
.face{
   display: flex;
}
.arther{
   margin-left: 1cm;
   margin-top: 0.6cm;
}
.pointer{
   display: flex;
   gap: 80%;
}
#arrow{
  margin-top: 0.5cm;
}

.contact{
   display:flex;
   gap: 9%;
   margin-top: 5cm;
   margin-left: 4cm;
}
.footer{
   display:flex;
   margin-left: 4cm;
   gap: 27%;
   margin-top: 4cm;
}
 
 
 
 
 